# Conda environment
.conda/

# Python virtual environments
venv/
env/
.env/

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

Images/

# Config files
*.yaml

# Analyzed data
*.json
!position_data.json

# Text files
*.txt

# Docker
.dockerignore
Dockerfile